#background {
  background: url(../images/back.jpg) no-repeat center top fixed;
  /*-webkit-background-size: cover;*/
  /*-moz-background-size: cover;*/
  /*-o-background-size: cover;*/
  /*background-size: cover;*/
}
#title {
  color: #890000;
  font-weight: 600;
}
