<nav class="navbar  navbar-inverse navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header maintitle">
      <button type="button" class="navbar-toggle">
        <span class="sc-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand active" href="#">Shaduler</a>

    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="secondtitle">
          <a>Log In</a>
        </li>
        <li class="secondtitle">
          <a>Registration</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
